In [4]:
import pandas as pd

In [7]:
df = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/web_of_sci_account.xlsx')

In [9]:
df

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,WC,WE,SC,GA,PM,OA,HC,HP,DA,UT
0,J,"Akhter, H; Rahman, AAA; Jafrin, N; Saif, AM; E...",NaN,NaN,NaN,"Akhter, Hamida; Rahman, Abdul Aziz Abdul; Jafr...",NaN,NaN,Investigating the barriers that intensify unde...,COGENT EDUCATION,...,Education & Educational Research,Emerging Sources Citation Index (ESCI),Education & Educational Research,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000748380200001
1,J,"Bhatti, OK; Irfan, M; Ozturk, AO; Maham, R",NaN,NaN,NaN,"Bhatti, Omar Khalid; Irfan, Muhammad; Ozturk, ...",NaN,NaN,Organizational inclusion through interaction o...,COGENT BUSINESS & MANAGEMENT,...,Business,Emerging Sources Citation Index (ESCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000783333700001
2,J,"Crysdian, C",NaN,NaN,NaN,"Crysdian, Cahyo",NaN,NaN,The evaluation of higher education policy to d...,COGENT EDUCATION,...,Education & Educational Research,Emerging Sources Citation Index (ESCI),Education & Educational Research,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000834677700001
3,J,"Galendi, JSC; Yeo, SY; Simic, D; Grull, H; Sto...",NaN,NaN,NaN,"Galendi, Julia Simoes Correa; Yeo, Sin Yuin; S...",NaN,NaN,A time-driven activity-based costing approach ...,INTERNATIONAL JOURNAL OF HYPERTHERMIA,...,"Oncology; Radiology, Nuclear Medicine & Medica...",Science Citation Index Expanded (SCI-EXPANDED),"Oncology; Radiology, Nuclear Medicine & Medica...",NaN,35021942.0,NaN,NaN,NaN,2023-01-30,WOS:000741719800001
4,J,"Hengboriboon, L; Sayut, T; Srisathan, WA; Naru...",NaN,NaN,NaN,"Hengboriboon, Lakkana; Sayut, Thanakorn; Srisa...",NaN,NaN,Strengthening a company- customer relationship...,COGENT SOCIAL SCIENCES,...,"Social Sciences, Interdisciplinary",Emerging Sources Citation Index (ESCI),Social Sciences - Other Topics,NaN,NaN,NaN,NaN,NaN,2023-01-30,WOS:000754502400001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10924,J,"Cassia, L; Paleari, S; Redondi, R",NaN,NaN,NaN,"Cassia, L; Paleari, S; Redondi, R",NaN,NaN,Management accounting systems and organisation...,SMALL BUSINESS ECONOMICS,...,Business; Economics; Management,Social Science Citation Index (SSCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000233276600005
10925,J,"Kaplan, RS; Anderson, SR",NaN,NaN,NaN,"Kaplan, RS; Anderson, SR",NaN,NaN,Time-driven activity-based costing - Response,HARVARD BUSINESS REVIEW,...,Business; Management,Social Science Citation Index (SSCI),Business & Economics,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000226592700022
10926,J,"Choe, JM",NaN,NaN,NaN,"Choe, JM",NaN,NaN,Impact of management accounting information an...,JOURNAL OF INFORMATION TECHNOLOGY,...,"Computer Science, Information Systems; Informa...",Science Citation Index Expanded (SCI-EXPANDED)...,Computer Science; Information Science & Librar...,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000224407600005
10927,J,"Homburg, C",NaN,NaN,NaN,"Homburg, C",NaN,NaN,Improving activity-based costing heuristics by...,EUROPEAN JOURNAL OF OPERATIONAL RESEARCH,...,Management; Operations Research & Management S...,Science Citation Index Expanded (SCI-EXPANDED),Business & Economics; Operations Research & Ma...,NaN,NaN,NaN,NaN,NaN,2023-02-11,WOS:000221309800006
10928,J,"Cardinaels, E; Roodhooft, F; van Herck, G",NaN,NaN,NaN,"Cardinaels, E; Roodhooft, F; van Herck, G",NaN,NaN,Drivers of cost system development in hospital...,HEALTH POLICY,...,Health Care Sciences & Services; Health Policy...,Science Citation Index Expanded (SCI-EXPANDED)...,Health Care Sciences & Services,NaN,15212870.0,NaN,NaN,NaN,2023-02-11,WOS:000222739700011

In [17]:
dic = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/111.xlsx', sheet_name = '약어 리스트')

In [18]:
dic

,저널 약어,저널 풀네임,Country/Region,SCIE,SSCI,AHCI,ESCI
0,19 CENTURY CONTEXTS,NINETEENTH-CENTURY CONTEXTS-AN INTERDISCIPLINA...,ENGLAND,NaN,NaN,X,NaN
1,2D MATER,2D MATERIALS,ENGLAND,X,NaN,NaN,NaN
2,3 BIOTECH,3 BIOTECH,GERMANY,X,NaN,NaN,NaN
3,3C EMPRESA,3C EMPRESA,SPAIN,NaN,NaN,NaN,X
4,3C TECNOL,3C TECNOLOGIA,SPAIN,NaN,NaN,NaN,X
...,...,...,...,...,...,...,...
21423,ZOOTAXA,ZOOTAXA,NEW ZEALAND,X,NaN,NaN,NaN
21424,ZUCHTUNGSKUNDE,ZUCHTUNGSKUNDE,GERMANY,X,NaN,NaN,NaN
21425,ZUTOT,ZUTOT,NETHERLANDS,NaN,NaN,NaN,X
21426,ZYGON,ZYGON,UNITED STATES,NaN,X,X,NaN
21427,ZYGOTE,ZYGOTE,UNITED STATES,X,NaN,NaN,NaN

In [22]:
dic = dic[['저널 약어', '저널 풀네임']]

In [23]:
dic

                     저널 약어                                             저널 풀네임
0      19 CENTURY CONTEXTS  NINETEENTH-CENTURY CONTEXTS-AN INTERDISCIPLINA...
1                 2D MATER                                       2D MATERIALS
2                3 BIOTECH                                          3 BIOTECH
3               3C EMPRESA                                         3C EMPRESA
4                3C TECNOL                                      3C TECNOLOGIA
...                    ...                                                ...
21423              ZOOTAXA                                            ZOOTAXA
21424       ZUCHTUNGSKUNDE                                     ZUCHTUNGSKUNDE
21425                ZUTOT                                              ZUTOT
21426                ZYGON                                              ZYGON
21427               ZYGOTE                                             ZYGOTE

[21428 rows x 2 columns]

In [65]:
#df1 = df.copy()

In [68]:
#dic1 = dic.copy()

In [76]:
#dic1['저널 약어'][5703]

'EDUC INF TECHNOL'

In [73]:
#for i in range(21428) :
#    dic1['저널 약어'][i].strip()

In [80]:
#df1.replace({'CR':{dic['저널 약어'][5703] : dic['저널 풀네임'][5703]}},regex = True, inplace = True)

In [86]:
from tqdm import trange, notebook            # show progress-bar

In [87]:
for i in notebook.tqdm(range(21428)) :
        #regex : 해당 문자열만 충족하면 변환, inplace : 데이터프레임 내용 변환
        df.replace({'CR':{dic['저널 약어'][i]:dic['저널 풀네임'][i]}},regex=True,inplace=True)

  0%|          | 0/21428 [00:00<?, ?it/s]

In [83]:
df['CR']

0        Aboagye E., 2021, SOCIAL ED RES, P1, DOI [10.3...
1        Aboramadan M, 2020, J HIGH EDUC POLICY M, V42,...
2        Abramo G, 2009, TECHNOVATION, V29, P498, DOI 1...
3        Agarwal P, 2016, WORLD NEUROSURG, V89, P266, D...
4        Abbas M, 2018, SUSTAINABILITY-BASEL, V10, DOI ...
                               ...
10924    Amat J., 1994, MANAGEMENT ACCOUNTIN, V5, P107,...
10925                                                  NaN
10926    ABERNETHY MA, 1995, ACCOUNT ORG SOC, V20, P241...
10927    BABAD YM, 1993, ACCOUNT REV, V68, P563; Balach...
10928    Anderson S.W., 1995, J MANAGEMENT ACCOUNT, V7,...
Name: CR, Length: 10929, dtype: object

In [47]:
'''
str_text = 'abcdf'
ch_text = '12'
tt = 'cd'
print(str_text[0])

if tt in str_text:
    
    t = str_text.find(tt)
    for i in range(len(tt)) :
        
    
        result = str_text.replace(str_text[t], tt[i])
        t += 1
    
result
'''

a

'abcdf'

In [88]:
df.to_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/축약 변경.xlsx')

In [81]:
#df1.to_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/333.xlsx')