In [1]:
import pandas as pd

In [2]:
SO = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/SO_firstword.xlsx')

In [3]:
CR_SO = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/CR_SO_firstword.xlsx')

In [4]:
SO.drop(['Unnamed: 0'], axis=1, inplace=True)
CR_SO.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
SO

                                  Full Word Abstract
0                          COGENT EDUCATION      C E
1              COGENT BUSINESS & MANAGEMENT    C B M
2     INTERNATIONAL JOURNAL OF HYPERTHERMIA    I J H
3                    COGENT SOCIAL SCIENCES    C S S
4                COGENT ECONOMICS & FINANCE    C E F
...                                     ...      ...
1977                        SOCIAL RESEARCH      S R
1978                                SCIENCE        S
1979                           JAMA SURGERY      J S
1980                                 LANCET        L
1981   JOURNAL OF KOREAN ACADEMY OF NURSING  J K A N

[1982 rows x 2 columns]

In [6]:
CR_SO

                                   Full Word   Abstract
0                       A ADAMS CLASSIC IMAG      A C I
1                       A B C ACTION LEARNIN  A B C A L
2                       A B C EXHIBIT PLANNI  A B C E P
3                             A BEHAV SYSTEM        B S
4                        A BEHAVIORAL THEORY        B T
...                                      ...        ...
105787                Yonsei Business Review      Y B R
105788    journal of taxation and accounting      j t a
105789   korean journal of taxation research    k j t r
105790              korean management review      k m r
105791         korean policy sciences review    k p s r

[105792 rows x 2 columns]

In [7]:
SO_copy = SO.copy()
CR_SO_copy = CR_SO.copy()

In [8]:
CR_SO_copy['Abstract'] = CR_SO_copy['Abstract'].str.upper()

In [9]:
CR_SO_copy.to_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/CR_SO_copy123.xlsx')

In [10]:
CR_SO_copy = pd.read_excel('/Users/cheon/Desktop/조교/Input Data/엑셀/CR_SO_copy123.xlsx')

In [12]:
CR_SO_copy.drop(['Unnamed: 0'], axis=1, inplace=True)

In [13]:
CR_SO_copy

                                   Full Word   Abstract
0                       A ADAMS CLASSIC IMAG      A C I
1                       A B C ACTION LEARNIN  A B C A L
2                       A B C EXHIBIT PLANNI  A B C E P
3                             A BEHAV SYSTEM        B S
4                        A BEHAVIORAL THEORY        B T
...                                      ...        ...
105787                Yonsei Business Review      Y B R
105788    journal of taxation and accounting      J T A
105789   korean journal of taxation research    K J T R
105790              korean management review      K M R
105791         korean policy sciences review    K P S R

[105792 rows x 2 columns]

In [14]:
from tqdm import trange, notebook

In [ ]:
for i in notebook.tqdm(range(105792)) :
        #regex : 해당 문자열만 충족하면 변환, inplace : 데이터프레임 내용 변환
        CR_SO_copy.replace({'Abstract':{SO['Abstract'][i]:SO['Full Word'][i]}},regex=True,inplace=True)